@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  
}



.social-btn {
  @apply flex items-center justify-center 
         w-9 md:w-[48px] 
         h-9 md:h-[48px] 
         bg-transparent rounded cursor-pointer;
}

.social-icon {
  @apply w-7 md:w-[40px] 
         h-7 md:h-[40px] 
         object-contain;
}
.animate-change{
  animation-name: change;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.home-profession {
  @apply text-[#b1b2b5] font-normal mx-auto 
         text-[14px] md:text-xl
         mt-[6vh] md:mt-[calc(7vh-20px)]
         h-[14px] md:h-[20px]
         ;
}

@keyframes change {
  0%, 20%, 100% { transform: translate3d(0, 0, 0); }        
  25%, 45% { transform: translate3d(0, -33.33%, 0); }      
  50%, 70% { transform: translate3d(0, -66.67%, 0); }          
  75%, 95% { transform: translate3d(0, -33.33%, 0); }          
}

.fade-up {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 0.8s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}